#ml-header {
    padding: 14px 0 12px;
/*    border-bottom: 1px solid #ccc;
*/    margin: 0 20px;
    overflow: auto;
}

#ml-header .ml-logo {
    float: left;
    width: 150px;
    margin-top: 2px;
}

#ml-header .ml-trial-msg {
    float: right;
    margin: 10px 20px 0 0;
}

#ml-header .ml-contact-button,
#ml-header .pricing-btn {
    float: right;
    margin-top: 4px;
    font-weight:bold;
}

#ml-sub-header {
    margin: 20px;
    overflow: auto;
}

.ml-sub-title {
    font-size: 12px;
    color: #aaa;
}

.ml-intro-text {
    float: left;
    width: 60%;
    margin-bottom: 20px;
}

.ml-intro-text p {
    font-size: 14px;
    padding: 0;
    margin: 10px 0px;
}

.ml-task-list {
    float: right;
    border: 1px solid #ccc;
    background-color: white;
    width: 30%;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 2px;
}

.ml-task-list h3 {
    margin: 0 !important;
    padding: 0;
}

.ml-task-list p {
    margin-bottom: 0;
}

.ml-task-list ul {
    border-left: 4px solid #ccc;
    padding-left: 20px;
    margin-left: 5px;
}

.ml-task-list ul a {
    text-decoration: none;
}

.ml-task-list ul li .task-icon {
    display: block;
    float: left;
    margin-left: -31px;

    border: 3px solid #ccc;
    border-radius: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);

    -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
    box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
    width: 12px;
    height: 12px;
    z-index: 86;

    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    background-color: white;
}

.ml-task-list ul li.current {
    font-weight: bold;
}

.ml-task-list ul li.complete .task-icon {
    background-color: #ccc;
}

.mobiloud .nav-tab {
    font-weight: bold;
    padding: 6px 32px;
}

.mobiloud .get-started-tabs {
    margin-top: -20px !important;
}

.ml-settings-tabs,
.ml-push-tabs {
    margin-top: 40px !important;
}

.mobiloud h2.nav-tab-wrapper {
    margin-bottom: 0;
    padding-left: 0;
    margin: 0 20px;
}

.mobiloud .nav-tab-active, .mobiloud .nav-tab-active:hover {
    background-color: white;
    border-bottom: 0;
}

.tabs-panel {
    background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 100%;
    margin: 0 20px;
    overflow: auto;
    padding: 20px;
    min-height: 300px;
    
    -webkit-box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(160, 160, 160, 0.5);
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ml-info-list {
    margin-left: 40px;
    list-style: disc;
}

.ml_ad_interval p {
    float: left;
    margin-right: 20px;
}

.ml_ad_interval select {
    float: left;
    margin-top: 10px;
}

/*------------------------------------------------------
| Tab content styling
------------------------------------------------------*/
.mobiloud h3 {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 30px;
}

.mobiloud h4 {
    font-size: 1.1em;
}

.ml-compact h4 {
    margin: 1.33em 0 0.3em 0;
}

#get_started_menu_config h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
}

.ml-col-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ml-col-half {
    float: left;
    width: 49%;
}

.ml-col-half p {
	margin-top:0px;
}

.ml-col-half:first-child {
    margin-right: 2%;
}

.ml-col-twothirds {
    width: 66%;
}
/*------------------------------------------------------
| Get Started Styling
------------------------------------------------------*/
.get_started_options {
    float: left;
    width: 55%;
}

.get_started_preview {
    float: right;
    width: 45%;
}

.ml-preview-image-holder {
    width: 200px;
    height: 50px;
    cursor: default;
    background-color: #eee;
    border: 2px dashed #bbb;
    padding: 5px;
    display:table-cell; 
    vertical-align:middle; 
    text-align:center
}

.ml-preview-image-holder img {
    width: 100%;
}

/*------------------------------------------------------
| Test page styling
------------------------------------------------------*/

.test_img {
    float: right;
	margin: 30px;
}

/*------------------------------------------------------
| Form styling
------------------------------------------------------*/
.ml-form-row {
    margin-top: 20px;
}

.ml-form-row.no-margin {
    margin-top: 0;
}

.ml-form-row:first-child {
    margin-top: 0;
}

.ml-form-row label {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

.ml-form-row.ml-left-align label,
.ml-form-row.ml-left-align input,
.ml-form-row.ml-left-align select {
    float: left;
}

.ml-form-row.ml-left-align label {
    margin: 10px 20px 0 0;
}

.ml-form-row.ml-left-align input,
.ml-form-row.ml-left-align select {
    margin: 5px 20px 0 0;
}

.ml-checkbox-wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.ml-checkbox-wrap label {
    float: left;
    margin: 5px 0;
}

.ml-checkbox-wrap input[type='checkbox'] {
    float: left;
    margin: 5px 15px 0 0;
}

.ml-radio-wrap {
    margin-top: 10px;
}

.ml-radio-wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ml-radio-wrap label {
    float: left;
    margin: 6px 0 0 0;
    min-width: 40px;
}

.ml-radio-wrap input[type='radio'] {
    float: left;
    margin: 6px 10px 0 0;
}

.ml-radio-wrap select, 
.ml-radio-wrap input[type='text'] {
    float: left;
    margin-left: 10px;
    min-width: 350px;
}

.ml-select-add {
    width: 90%;
}

.ml-menu-holder li {
    padding: 5px 10px 5px 8px;
    border: 1px solid #ccc;
    background-color: #F2F2F2;
    cursor: move;
}

.ml-menu-holder li .dashicons-before {
    padding: 0 15px 0 0;
}

.ml-menu-holder .dashicons-menu {
    color: #aaa;
}

.ml-item-remove {
    float: right;
    text-decoration: none;
    color: #aaa;
}

#demo-message {
    font-weight: bold;
}

/*------------------------------------------------------
| Code editor
------------------------------------------------------*/
.ml-editor-controls {
    width: 100%;
    margin: 10px 0;
    overflow: auto;
}

.ml-editor-controls select {
    float: left;
}

.ml-editor-controls a {
    float: right;
}

.ml-editor-area {
    width: 100%;
    height: 400px;
    display: none;
}

.ml-editor-area.ml-show {
    display: block;
}

/*------------------------------------------------------
| Initial Details Form
------------------------------------------------------*/
#ml-initial-details {
    padding: 10px;
}
.ml-initial-details-dialog .ui-dialog-titlebar-close {
    display: none;
}
.ml-maillist-block input {
    float: left;
    margin: 10px 10px 0 0 !important;
}
.ml-maillist-block p {
    float: left;
    width: 90%;
}

/*------------------------------------------------------
| Push notifications page
------------------------------------------------------*/
.ml_header {
    margin-top: 20px;
}

.ml_send_notification_box .handle {
    cursor: pointer;
}
.ml_send_notification_box .handlediv {
    float: right;
    width: 30px;
    height: 39px;
    color: #aaa;
}

.ml_send_notification_box .handlediv:before {
    content: '\f142';
    right: 12px;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 9px 10px;
    top: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.ml_send_notification_box h3 {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer !important;
    margin: 0;
}

.ml_send_notification_box .inside {
    padding: 20px;
    margin: 0;
}

.ml_send_notification_box.closed .handlediv:before {
    content: '\f140';
}
.ml_send_notification_box.closed .inside {
    display: none;
}

#error-message.error {
    color: red;
    font-size: 14px;
    line-height: 25px;
}

#success-message.updated {
    font-size: 14px;
    line-height: 25px;
    color: green;
}

.tag-label {
    display: inline;
    padding: .25em .6em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 3px;
}

.tag-label.info {
    background-color: #5bc0de;
}

/*------------------------------------------------------
| Misc
------------------------------------------------------*/
.ml-push-top {
    margin-top: 40px;
}

#iframe_iphone {
    float: right;
    margin: 20px 100px 0 0;
}

.ml-iframe {
    display: none;
}

.ml-loader {
    width: 89px;
    margin: 60px auto;
}

.ml-loader img {
    width: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ml-width-120 {
    width: 120px;
}