#ml_admin_license {
  font-family: arial;
  font-weight: normal;
  border: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%; }
  #ml_admin_license h3, #ml_admin_license h2 {
    padding: 10px;
    font-size: 20px; }
  #ml_admin_license input[type='text'] {
    padding: 5px;
    width: 90%;
    font-size: 15px;
    margin-left: 5%;
    margin-bottom: 20px; }
  #ml_admin_license input[type='submit'] {
    margin-left: 5%;
    margin-bottom: 20px; }
