#ml_admin_subscriptions_options {
	margin-top:50px;
	h3,h2 { 
		padding:10px; 
		font-size:20px; 
		input {margin-right:10px;}
	}
	p {
		font-size:14px;
		margin-left:5%;
	}
	input[type='submit'] {
		margin-top: 30px;
		margin-left:10px;
		margin-bottom: 30px;
	}
}
