html 
{
    background:rgba(0,0,0,0);
}

body {
    font-size:20px;
    font-family:helvetica;
    color:#444;
    background:rgba(0,0,0,0);
}

#content
{
    padding: 0px 5px 5px 5px;
    margin-left:10%;
    margin-right:10%;
    width:80%;
    background:rgba(200,200,200,0.0);
    text-align:justify;
}

ol{} ul{} li{}

.iphone_img
{
    text-align:center;
    width:20px;
}

hr.ml_hr
{
	text-align:center;
	height:1px;
  	border: 0;
	background-color:#999;
}

h1.title
{
	font-size:25px;
}

.author {
    font-size:17px;
    color:gray;
}
.article_date
{
    font-size:15px;
    color:gray;
}

a:link {color:gray;}
a:visited {color:gray;}
a:hover {color:gray;}


.mobiloud_media
{
}  

.mobiloud_loader
{
	text-align:center;
}