.mobiloud_page_title
{
	float:left;
}
.mobiloud_logo
{
	float:left;
}

a.ap_tab_button:link, a.ap_tab_button:visited
{
	padding:5px 30px 5px 30px;
	background-color:#ddd;
	color:#444;
	text-decoration:none;
	border:1px solid #888;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

a.ap_tab_button:hover, a.ap_tab_button_selected:link, a.ap_tab_button_selected:hover, a.ap_tab_button_selected:visited
{
	padding:5px 30px 5px 30px;
	background-color:#444;
	border:1px solid #888;
	text-decoration:none;
	color:white;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}


.mobiloud_title, .mobiloud_text_normal, .mobiloud_service_description
{
	font-weight: normal;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:13px;
	color:#464646;
}

.mobiloud_service_description
{
	margin-left:10px;
}

.mobiloud_service_running
{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color:green;
}

.mobiloud_service_not_running
{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color:red;
}

.mobiloud_title
{
	color:gray;
}
.mobiloud_text_normal
{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}

.mobiloud_service_description
{
	color:#888;
}

.img_homepage{
	text-align: center;
	margin-top:-80px;
}
.img_homepage img{
	width: 450px;
}

.ml_homepage_general{
	width:100%;
}



.center{
	text-align: center;
}

.ml_homepage_general .formContact{
	margin-top: 20px;
}

.ml_homepage_general .controls input{
	height: 30px;
	width: 40%;
	margin-right: 150px;
}

.ml_homepage_general .controls{
	display: block;
}

.ml_homepage_general .controls label{
	float: left;
    padding-left: 15%;
    text-align: right;
    width: 20%;
	padding-top:7px;
}

/*.ml_homepage_general .btn-submit{
	background-color: #3dc22f;
	color: #ffffff;
	width: 50% !important;
	height: 40px !important;
	font-size:30px;
	padding:10px;
}
*/

.ml_homepage_general .btn-submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:40px;
	width:400px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
}

.ml_homepage_general .btn-submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

.ml_homepage_general .btn-submit:active {
	position:relative;
	top:1px;
}


.ml_homepage_general .full{
	width: 100% !important;
}


.full{
	width: 100% !important;
}


.ml_homepage_general .checkbox{
	padding-left:10px;
}

.ml_homepage_general .last {
	margin-bottom: 30px;
}

.ml_homepage_general .subtitle{
	color: #464646 !important;
	font-size: 21px !important;
	padding-top: 0 !important;
}

.ml_homepage_general .bigtitle{
	margin:0 !important;
	padding-bottom: 10px !important;
}

#ml-conf-app-pages{width:50%;margin-left:15px;margin-top:50px;}

ul.ml-conf-pages li.page {
		margin: 0 3px 3px 3px; 
		background-color: #eee;
		border:1px solid #ddd;
		padding-top: 15px; 
		padding-left: 1.5em; 
		padding-right: 1.5em;
		font-size: 13px; 
		height: 50px;
		padding-bottom: 15px;
}
ul.ml-conf-pages li.page span { 
	float:left;
	margin-left: -1.3em; 
	margin-top: 20px;
}
ul.ml-conf-pages li.page .page-remove { 
	float:right; color:#DC2600; 
	margin-top: 15px;
}

label.switch > .switch {
	float:left;
	margin-left: 20px;
}
label.switch > h4{
	float:left;
}


