%script{:type => "text/javascript", :src => "#{MOBILOUD_PLUGIN_URL}/admin/banners/banners.js"}

.wrap
	.narrow
		#ml_admin_banners
			%h1 Mobiloud Banners


			%select#ml_admin_banners_service_select{:name => 'banners_service', :data-selected => "#{ml_banners_service()}"}
				%option{:value => 'off'} OFF
				%option{:value => 'admob'} Admob
				%option{:value => 'html'} HTML

			#ml_admin_banners_admob{:class => "stuffbox hidden"}
				%h3 Admob
				%h2 Phone Admob ID
				%p
					%input{:type => 'text', :id => 'admob_phone_id', :placeholder => 'Phone Admob id', :size => 40, :value => "#{get_option('ml_banners_admob_phone_id')}"}
				%h2 Tablet Admob ID
				%p
					%input{:type => 'text', :id => 'admob_tablet_id', :placeholder => 'Tablet Admob id', :size => 40, :value => "#{get_option('ml_banners_admob_tablet_id')}"}

			#ml_admin_banners_html{:class => "stuffbox hidden"}
				%h3 HTML
				%h2 Phone - Main screen - Top
				%textarea#html_phone_top=htmlspecialchars(get_option('ml_banners_html_phone_top'))
				%h2 Phone - Inside Article - Top
				%textarea#html_phone_article_top=htmlspecialchars(get_option('ml_banners_html_phone_article_top'))
				%h2 Phone - Inside Article - Bottom
				%textarea#html_phone_article_bottom=htmlspecialchars(get_option('ml_banners_html_phone_article_bottom'))



				%h2 Tablet - Main screen - Top
				%textarea#html_tablet_top=htmlspecialchars(get_option('ml_banners_html_tablet_top'))
				%h2 Tablet - Inside Article - Top
				%textarea#html_tablet_article_top=htmlspecialchars(get_option('ml_banners_html_tablet_article_top'))
				%h2 Tablet - Inside Article - Bottom
				%textarea#html_tablet_article_bottom=htmlspecialchars(get_option('ml_banners_html_tablet_article_bottom'))

			%p
			%input#ml_admin_banners_save_btn{:type => 'submit', :value => "Save", :class => 'button button-primary button-large', :data-label => "Save", :data-saving-label => "Saving..."}
