html 
{
    background:rgba(0,0,0,0);
}

body {
    font-size:15px;
    font-family:helvetica;
    color:#444;
    background:rgba(0,0,0,0);
}

h1{
	font-size: 24px;
	color: #000;
	font-weight: bold;
	line-height: 33px;
}

h2{
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

h3{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

h4{
	font-size: 12px;
	color: #000;
	font-weight: bold;
}

h5{
	font-size: 10px;
	color: #000;
	font-weight: bold;
}

h6{
	font-size: 8px;
	color: #000;
	font-weight: bold;
}

#content
{
    padding: 10px;     
    background:rgba(200,200,200,0.0);
    text-align:left;
    line-height: 25px;
}

ol{} ul{} li{}

.iphone_img
{
    text-align:center;
    width:20px;
}

.details {
    font-size:15px;
    color:gray;
    font-style: italic;    
}

a:link {color:gray;}
a:visited {color:gray;}
a:hover {color:gray;}


.mobiloud_media
{
	min-height:150px;
}  

.mobiloud_loader
{
	text-align:center;
}