html 
{
    background:rgba(0,0,0,0);
}

body {
    font-size:15px;
    font-family:helvetica;
    color:#444;
    background:rgba(0,0,0,0);
}

#content
{
    padding:5px;
    margin-left:1%px;
    margin-right:1%px;                
    background:rgba(200,200,200,0.0);
    text-align:justify;

}

a:link {color:gray;}
a:visited {color:gray;}
a:hover {color:gray;}

.ml_comment
{
	padding:5px;	
	margin-top:10px;
	background-color:rgba(245,245,245,0.4);
	border:1px solid rgba(225,225,225,1.0);
}

.ml_comment_avatar
{
	vertical-align:middle;
}

.ml_comment_author {
    font-size:12px;
	font-weight:bold;
	color: #555;
	text-shadow: 1px  1px 0 #eee;
}

.ml_comment_text
{
	margin-top:5px;
	margin-bottom:15px;
	font-size:12px;
}

.ml_comment_date
{
	margin-bottom:5px;
    font-size:12px;
    color:#aaa;
	font-weight:italic;
}

